//- footer.jade
footer.footer-container
  //- .social-icons
  //-   a(href="#", title="Home"): i.fas.fa-home
  //-   a(href="#", title="Blog"): i.fas.fa-book-open
  //-   a(href="#", title="Email"): i.fas.fa-envelope
  //-   a(href="#", title="LinkedIn"): i.fab.fa-linkedin
  //-   a(href="#", title="GitHub"): i.fab.fa-github
  //-   a(href="#", title="Instagram"): i.fab.fa-instagram
  //-   a(href="#", title="Portfolio"): i.fas.fa-file-alt

  .footer-bottom
    span © 2025 João Vitor Bauer Verzeletti. All rights reserved
    .links
      a(href="#") Privacy Policy
      a(href="#") Terms of Service
      
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js")