//- footer.jade
footer.footer-container
  .social-icons
    a(href="/", title="Home"): i.fas.fa-home
    a(href="/posts", title="Posts"): i.fas.fa-book-open
    a(href="mailto:joãovitorverzeletti@gmail.com", title="Email"): i.fas.fa-envelope
    a(href="https://linkedin.com/in/joaobauerv", title="LinkedIn"): i.fab.fa-linkedin
    a(href="https://github.com/JoaoBauerv", title="GitHub"): i.fab.fa-github
    a(href="https://instagram.com/joaobauerv", title="Instagram"): i.fab.fa-instagram
    a(href="#", title="Cv"): i.fas.fa-file-alt

  .footer-bottom
    span © 2025 João Vitor Bauer Verzeletti. All rights reserved
    .links
      a(href="#") Privacy Policy
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js")