extends layout.pug

block content
  .page-wrapper
    // Seção com fundo em GIF
    section.hero
      .nome
        h1 João Vitor Bauer Verzeletti
        p This page was made with Pug and Node.js
        a.btn.btn-secondary(href="#about-me") See More

    


    // Seção com fundo sólido
    section#about-me.about-section.container.mt-5
      .row
        .col-md-6
          h1(data-aos="fade-up")  Hello!
          p(data-aos="fade-up" data-aos-delay="100")  I'm a software engineer based in Brazil that likes to create things.
          p(data-aos="fade-up" data-aos-delay="200")  I also have a degree in Systems Analysis and Development from the Federal Institute of Education, Science and Technology in Rio Grande do Sul.
          p(data-aos="fade-up" data-aos-delay="300")  I have a passion for competitive games, a deep appreciation for classic cars, and a love for exploring new places and cultures through travel.

          h3(data-aos="fade-up" data-aos-delay="400") Get in touch
          ul.social-links(data-aos="fade-up" data-aos-delay="500")
            li
              a.social-link(href="mailto:joãovitorverzeletti@gmail.com", title="E-mail")
                i.fas.fa-envelope
                span E-mail
            li
              a.social-link(href="https://linkedin.com/in/joaobauerv", target="_blank", title="LinkedIn")
                i.fab.fa-linkedin
                span LinkedIn
            li
              a.social-link(href="https://github.com/joaobauerv", target="_blank", title="GitHub")
                i.fab.fa-github
                span GitHub
            li
              a.social-link(href="https://instagram.com/joaobauerv", target="_blank", title="Instagram")
                i.fab.fa-instagram
                span Instagram

<<<<<<< HEAD
=======
         //a.btn.btn-success.mt-2(href="/cv.pdf", download data-aos="fade-up" data-aos-delay="400") Download CV
>>>>>>> ab94bda71e96738547adb217fa44baa44fe7bd1f

        .col-md-6.timeline

          // Bloco 1
          .timeline-item(data-aos="fade-up" data-aos-delay="600")
            .timeline-icon
              img(src="/images/tjmrs.jpg" alt="TJMRS Logo")
            .timeline-content
              h5 Jun 2025 - Moment
              strong Software Engineering Intern @ TJMRS - TIC
              ul
                li Responsible for maintaining and improving internal web systems, ensuring their functionality, performance, and usability for internal users.

          // Bloco 2
          .timeline-item(data-aos="fade-up" data-aos-delay="1000")
            .timeline-icon
              img(src="/images/logicbox.jpg" alt="LogicBox Logo")
            .timeline-content
              h5 Mar 2024 - Mar 2025
              strong Help Desk Intern @ LogicBox
              ul
                li Provided technical support to clients using POS and automation software.
                li Diagnosed hardware/software issues, collaborated with dev teams, and helped with system updates.
                li Required strong communication, problem-solving, and understanding of automation tech.



