extends layout.pug

block content
  .page-wrapper
    .container
      br
      h1.text-white.mb-4 Blog Posts

      .row
        // Coluna principal de posts
        .col-md-8
          .post.mb-5
            small.text-success 06/25/2025
            h2.text-white This page is under construct
            p.text-white 
            a.btn.btn-outline-light(href="#") Read more

          .post.mb-5
            small.text-success 06/25/2025
            h2.text-white Another Post Title
            p.text-white This is a short preview of another blog post content...
            a.btn.btn-outline-light(href="#") Read more

        // Coluna lateral: inscrição
        .col-md-4
          .subscribe-box.bg-dark.p-4.rounded
            h4.text-white Keep Updated
            p.text-white Be informed when new posts are published; you can unsubscribe at any time.
            form
              .mb-3
                input.form-control(type="email", placeholder="Email")
              button.btn.btn-success(type="submit") Subscribe
