extends ../layout.pug


block main
  .page-wrapper
    main.content
      div.nome
        h2 Login
        .d-flex.justify-content-center.align-items-center(style="min-height: 20vh;")
          form(action="/login" method="POST" class="p-4 border rounded shadow-sm")
            div.mb-3
              input(type="email" name="email" placeholder="Email" required class="form-control")
            div.mb-3
              input(type="password" name="senha" placeholder="Senha" required class="form-control")
            button(class="btn btn-primary w-100 py-2 mb-2" type="submit") Entrar
            
        if error
          p(style="color:red") #{error}
       
